.loader {
  width: 54px;
  height: 54px;
  position: relative;
  background: #FFF;
  border-radius: 10px;
  overflow: hidden;
}

.loader:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 40px;
  height: 40px;
  transform: rotate(45deg) translate(30%, 40%);
  background: #ff9371;
  box-shadow: 32px -34px 0 5px #ff3d00;
  animation: slide 2s infinite ease-in-out alternate;
}

.loader:after {
  content: "";
  position: absolute;
  left: 10px;
  top: 10px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #ff3d00;
  transform: rotate(0deg);
  transform-origin: 35px 145px;
  animation: rotate 2s infinite ease-in-out;
}

@keyframes slide {
  0% , 100% {
    bottom: -35px
  }

  25% , 75% {
    bottom: -2px
  }

  20% , 80% {
    bottom: 2px
  }
}

@keyframes rotate {
  0% {
    transform: rotate(-15deg)
  }

  25% , 75% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(25deg)
  }
}
  
/* ======================================== */
#displayPostsDiv{
  width: 60vw;
  margin-top: 10px; 
  /* background-color: red; */
  padding: 0px 10px;
}
#createPost{
  background-color: rgb(9, 199, 199);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  border-radius: 15px;
/*   box-shadow: 2px 2px 5px rgb(44, 1, 1); */
box-shadow: 0px 0px 5px  gray;

}

#createPost input{
  width:60%;
  height: 50px;
  margin-left: 50px;
  border: 1px solid rgb(68, 67, 67);
  outline: none;
  border-radius: 25px;
  padding-left: 20px;
}

#createPost input:hover{
  background-color: #e4e4e4;
  box-shadow: 1px 1px 2px black;
}

.endividualPost{
  background-color: white;
  border-radius: 15px;
  margin: 10px 0;
  overflow: hidden;
  padding: 5px 10px;
/*   box-shadow: 0px 0px 2px  2px rgb(66, 30, 30); */
box-shadow: 0px 0px 5px  gray;

}

.postHeader{
  display: flex;
}

.postProfileImg{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.userInfo{
  margin-left: 15px;
}
.userInfo *{
  margin: 0;
  padding: 0;
}

.userInfo p{
  font-size: 12px;
}

.postImg{
  max-width: 90%;
  max-height: 400px;
  /* margin-left: 5%; */
  border-radius: 10px;
  margin: 0 auto;
  box-shadow: 0px 0px 2px 1px rgb(90, 75, 75);
}

.postImageDiv{
  display: flex;
}

/* -----------------media query-------------- */
@media (max-width:768px) {
  #displayPostsDiv{
    width: 90vw;
  }
}

@media (max-width:425px) {
  #createPost{
    height: 50px;
  }
  .loader {
    width: 40px;
    height: 40px;
  }
  #createPost input{
    width: 70%;
    margin-left: 20px;
    height: 40px;
  }
  #displayPostsDiv{
    width: 95vw;
  }
}